<%- include('./layouts/header.ejs')  %>
<%- include('./layouts/headerNav.ejs')  %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assetsAdmin/imgs/theme/flag-us.webp" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-fr.webp" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-jp.webp" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-cn.webp" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assetsAdmin/imgs/people/avatar-2.webp" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                      
                    <div>
                        <a href="/admin/salesReport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Sales Report</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <% if(revenue.length>0){ %>
                                    <span>₹ <%= revenue[0].revenue.toFixed(0) %></span>
                                    <% } %>
                                    <span class="text-sm">Revenue on the basis of orders that are not yet delivered </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Pending Orders</h6>
                                    <span><%=pendingOrders  %></span>
                                    <span class="text-sm"> Pending orders to be delivered soon. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6>
                                    <span><%=countProduct  %></span>
                                    <span class="text-sm"> In <%=countCategory  %> Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6>
                                    <% if(monthlyEarning.length>0){ %>
                                    <span>₹ <%=monthlyEarning[0].monthProfit  %></span>
                                    <% } %>
                                    <span class="text-sm"> Based in your local time.</span>
                                 
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-lg-12">
                        <div class="card mb-4">
                          <article class="card-body">
                                <div style="display: flex; justify-content: space-between;">
                                    <div>
                                        <h3 class="card-title">Sale statistics</h3>
                                    </div>
                                    <div>
                                    <button class="btn btn-primary toggle-chart" data-chart-type="monthly">Monthly</button>
                                    <button class="btn btn-primary toggle-chart" data-chart-type="yearly">Yearly</button>
                                    </div>
                                
                                </div>
                                
                                <canvas id="myChart" height="120px"></canvas>
                            </article>
                        </div>
                        <div class="row">
                       
                            <div class="col-lg-12">
                                
 <!-- Change the width to col-lg-12 -->
        <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">New Members</h4>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center">
                                    <div class="form-check align-middle">
                                        <label class="form-check-label" for="transactionCheck01"></label>
                                    </div>
                                </th>
                                <th class="align-middle" scope="col">Name</th>
                                <th class="align-middle" scope="col">Email</th>
                                <th class="align-middle" scope="col">Joined Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%latestUsers.forEach(person=>{%>
                                <tr>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <label class="form-check-label" for="transactionCheck02"></label>
                                        </div>
                                    </td>
                                    <td><a href="#" class="fw-bold">
                                            <%=person.userName%>
                                        </a></td>
                                    <td>
                                        <%=person.email%>
                                    </td>
                                 <td>
                                <%=person.createdAt.toLocaleDateString() %>
                                 </td>

                                </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
   
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-xl-5 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h3 class="card-title">Yearly Profit</h3>
                                <canvas id="myChart2" height="217"></canvas>    
                            </article>
                     </div>


                          <div class="col-lg-12">
                                <div class="p-3 card ">
                        <h4 class="text-center">Payment Methods</h4>
                        <div class="paymentCard mt-5">
                            <div id="paymentChart">
                                <span id="paymentMethods" hidden>
                                    <%=paymentMethods %>
                                </span>
                                <span id="paymentCount" hidden>
                                    <%=paymentCounts %>
                                </span>
                            </div>
                        </div>
                    </div>


            </div>
    





                    </div>


                    <div class="col-xl-12">
 <div class="card mb-4">
          <header class="card-header">
            <h4 class="card-title">Latest orders</h4>
          </header>
          <div class="card-body">
            <div class="table-responsive">
              <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                  <thead class="table-light">
                    <tr>
                      <th scope="col" class="text-center">
                        <div class="form-check align-middle">
                          <label class="form-check-label" for="transactionCheck01"></label>
                        </div>
                      </th>
                      <th class="align-middle" scope="col">Order ID</th>
                      <th class="align-middle" scope="col">Date-Time</th>
                      <th class="align-middle" scope="col">Total</th>
                      <th class="align-middle" scope="col">Order Status</th>
                      <th class="align-middle" scope="col">Payment Method</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%latestOrders.forEach(order=> {%>
                      <tr>
                        <td class="text-center">
                          <div class="form-check">
                            <label class="form-check-label" for="transactionCheck02"></label>
                          </div>
                        </td>
                        <td><a href="#" class="fw-bold">
                            <%=order._id%>
                          </a></td>
                        <td>
                          <%=order.date%>
                        </td>
                        <td>₹<%=order.total_amount%>
                        </td>
                        <td>
                          <span class="badge badge-pill badge-soft-success">
                            <%=order.status%>
                          </span>
                        </td>
                        <td>
                          <i class="material-icons md-payment font-xxl text-muted mr-5"></i>
                          <%=order.payment%>
                        </td>
                      </tr>
                      <%})%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
                    </div>
                </div>
              
      
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

      <input type="hidden" value="<%= salesYearTotal[0]%>" id="year2023" />
      <input type="hidden" value="<%= salesYearTotal[1]%>" id="year2024" />
      <input type="hidden" value="<%= salesYearTotal[2]%>" id="year2025" />
      <input type="hidden" value="<%= salesYearTotal[3]%>" id="year2026" />
      <input type="hidden" value="<%= salesYearTotal[4]%>" id="year2027" />
      <input type="hidden" value="<%= salesYearTotal[5]%>" id="year2028" />







     <input type="hidden" value="<%= allProfitYears[0]%>" id="profit2023" />
     <% console.log(allProfitYears[0]) %>
      <input type="hidden" value="<%= allProfitYears[1]%>" id="profit2024" />
      <input type="hidden" value="<%= allProfitYears[2]%>" id="profit2025" />
      <input type="hidden" value="<%= allProfitYears[3]%>" id="profit2026" />
      <input type="hidden" value="<%= allProfitYears[4]%>" id="profit2027" />
      <input type="hidden" value="<%= allProfitYears[5]%>" id="profit2028" />
  

      
      <input type="hidden" value="<%= salesdataCount[0]%>" id="jan" />
      <input type="hidden" value="<%= salesdataCount[1]%>" id="feb" />
      <input type="hidden" value="<%= salesdataCount[2]%>" id="mar" />
      <input type="hidden" value="<%= salesdataCount[3]%>" id="apr" />
      <input type="hidden" value="<%= salesdataCount[4]%>" id="may" />
      <input type="hidden" value="<%= salesdataCount[5]%>" id="jun" />
      <input type="hidden" value="<%= salesdataCount[6]%>" id="jul" />
      <input type="hidden" value="<%= salesdataCount[7]%>" id="aug" />
      <input type="hidden" value="<%= salesdataCount[8]%>" id="sep" />
      <input type="hidden" value="<%= salesdataCount[9]%>" id="oct" />
      <input type="hidden" value="<%= salesdataCount[10]%>" id="nov" />
      <input type="hidden" value="<%= salesdataCount[11]%>" id="dec" />



      <input type="hidden" value="<%= userdataCount[0]%>" id="Jan" />
      <input type="hidden" value="<%= userdataCount[1]%>" id="Feb" />
      <input type="hidden" value="<%= userdataCount[2]%>" id="Mar" />
      <input type="hidden" value="<%= userdataCount[3]%>" id="Apr" />
      <input type="hidden" value="<%= userdataCount[4]%>" id="May" />
      <input type="hidden" value="<%= userdataCount[5]%>" id="Jun" />
      <input type="hidden" value="<%= userdataCount[6]%>" id="Jul" />
      <input type="hidden" value="<%= userdataCount[7]%>" id="Aug" />
      <input type="hidden" value="<%= userdataCount[8]%>" id="Sep" />
      <input type="hidden" value="<%= userdataCount[9]%>" id="Oct" />
      <input type="hidden" value="<%= userdataCount[10]%>" id="Nov" />
      <input type="hidden" value="<%= userdataCount[11]%>" id="Dec" />

           <input type="hidden" value="<%= userYearCount[0]%>" id="users2023" />
     <% console.log(userYearCount[0]) %>
      <input type="hidden" value="<%= userYearCount[1]%>" id="users2024" />
      <input type="hidden" value="<%= userYearCount[2]%>" id="users2025" />
      <input type="hidden" value="<%= userYearCount[3]%>" id="users2026" />
      <input type="hidden" value="<%= userYearCount[4]%>" id="users2027" />
      <input type="hidden" value="<%= userYearCount[5]%>" id="users2028" />

<%- include('./layouts/footer.ejs')  %>

<script>
    let paymentMethodsData= document.getElementById('paymentMethods').innerHTML
    let paymentMethods= paymentMethodsData.split(',')
    let paymentCountData=    document.getElementById('paymentCount').innerHTML
    let paymentCounts=paymentCountData.split(',').map((item)=> +item.trim())

    console.log('paymentcounts',paymentCounts);

      var options = {
                    series: paymentCounts,
                    chart: {
                        width: 380,
                        type: 'pie',
                    },
                    labels: paymentMethods,
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                };
                var chart = new ApexCharts(document.querySelector("#paymentChart"), options);
                chart.render();
</script>