<%- include('./layouts/header.ejs')  %>
<%- include('./layouts/headerNav.ejs')  %>







        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assetsAdmin/imgs/theme/flag-us.webp" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-fr.webp" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-jp.webp" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-cn.webp" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assetsAdmin/imgs/people/avatar-2.webp" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>


              <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Banner List</h2>
                    </div>

                    <div>
                        <a href="/admin/addBanner" class="btn btn-primary btn-sm rounded">Add Banner</a>
                    </div>

                </div>

                <div class="row gx-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-hover text-center">
                                <thead>
                                  
                                </thead>
                                <% if (banner && banner.length> 0) { for (let i = 0; i < banner.length; i++) { %>
                                        <tbody id="banner<%=banner[i]._id %>">
                                 
                                              <div style="display: grid; place-content: center;">
                                                <div class="card p-4 ">
                                                    <div class="text-center">
                                                        <h2>  <span class="border-bottom 5px">
                                                         <%= banner[i].title %>
                                                       </span></h2>
                                                    </div>
                                                    <div> 
                                                    <h3 class="fs-bold mb-3"> description : <span><%= banner[i].description %></span> </h3>  
                                                    <h3 class="mb-3">Event : <span><%= banner[i].event %></span></h3>
                                                
                                                    </div>
                                               
                                                   
                                                         <div class="left">
                                                        <img width="100%" height="100" src="assetsAdmin/imgs/banners/<%= banner[i].image[0] %>"
                                                            class="img-xl img-thumbnail" alt="Item" />
                                                    </div>
                                                        <div class="text-center">
                                                               <a onclick="removeBanner(event,'<%= banner[i]._id %>')"
                                                        class="btn btn-lg btn-danger rounded font-lg me-3">Remove</a>

                                                        <a href="/admin/editBanner?id=<%= banner[i]._id %>"
                                                            class="btn btn-lg btn-warning rounded font-lg">Edit</a>
                                                        </div>
                                                   
                                                </div>
                                            </div>
                                            <% } } else { %>
                                                <tr>
                                                    <td colspan="5">Banners Not Found</td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </section>




             <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>






             <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>





  <%- include('./layouts/footer.ejs') %>

  <script>

    async function removeBanner(event,bannerId){
        event.preventDefault()

Swal.fire({
  title: 'Are you sure?',
  text: 'You won\'t be able to revert this!',
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then(async(result) => {
  if (result.isConfirmed) {
   
    const response=await axios.patch('/admin/deleteBanner',{bannerId})

    if(response.data.success==true){
        window.location.href=window.location.href
    }
    Swal.fire('Deleted!', 'Your banner has been deleted.', 'success');
  }
});

   

    }
  </script>