<%- include('./layouts/header.ejs')  %>
<%- include('./layouts/headerNav.ejs')  %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assetsAdmin/imgs/theme/flag-us.webp" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-fr.webp" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-jp.webp" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-cn.webp" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assetsAdmin/imgs/people/avatar-2.webp" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div><span><a class="btn btn-success" href="/admin/addCategory">Add Category</a></span></div>
                    
                </div>
                <div class="card">
                <div class="card-body">
       
                        <div class="row">
                           
                            <div class="col-md-12">
                                <div class="table-responsive">
         
                           </div>



                                    <table class="table table-hover mx-auto text-center" id="example">
                                        <thead>
                                            <tr>
                                              
                                                
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>offers</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                       
                                            
                                            <% if(categ.length > 0){ %>
                                                <% for(let i=0 ; i < categ.length ; i++){ %>  
                                            
                                            <tr>
                                                <td><b><%= categ[i].name %></b></td>
                                                <td><%= categ[i].description %></td>
                                             <td class="text">
                                              <span id="status_<%= categ[i]._id %>">
                                              <% if (categ[i].is_Listed==true) { %>
                                                <span class="badge rounded-pill alert-warning">Listed</span>
                                              <% } else { %>
                                                <span class="badge rounded-pill alert-success">Unlisted</span>
                                              <% } %>
                                              </td>
                                                
                                                      <td><a href="/admin/editCategory?id=<%= categ[i]._id %>" class="btn btn-light rounded-pill ps-3 pe-3 btn-sm">Edit</a></td>

                                                      <td>
                                                        <button href="#" class="btn btn-danger rounded-pill ps-3 pe-3 btn-sm delete-category" data-toggle="modal" data-target="#deleteCategoryModal" data-category-id="<%= categ[i]._id %>">Delete</button>
                                                       
                                                    </td> 
                                                    <td>
                                                        <% if(categ[i].offer){ %>
                                                          <button onclick="removeOffer('<%= categ[i]._id %>')"
                                                            class="btn btn-sm btn-outline-warning rounded font-sm">
                                                            Remove offer </button>
                                                        <% } else {%>
                                                            <button class=" btn btn-sm btn-outline-primary rounded
                                                            font-sm" onclick="offerListModal('<%= categ[i]._id %>')">
                                                                Apply offer
                                                            </button>
                                                            <% } %>
                                                    </td>
                                                
                                                      
                                                <td class="text-end">
                                                   
                                                         <button class="btn btn-md rounded font-sm list-category" data-user-id="<%= categ[i]._id %>"  style="background-color: rgb(30, 139, 10);" >List</button>
                                                     <button class="btn btn-md rounded font-sm  unlist-category" data-user-id="<%= categ[i]._id  %>" style="background-color: rgb(159, 0, 0);" >Unlist</button>
                                                       
                                                    
                                                    <!-- dropdown //end -->
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } else { %>
                                              <tr>
                                                <td colspan="5">Categories Not Found</td>
                                              </tr>
                                            <% } %>
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->

            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
      <!-- Delete Category Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close goBackBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this category?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancel</button>
               <a href="/admin/category"><button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button></a> 
            </div>
        </div>
    </div>
</div>


<!-- another modal -->

       <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <% if (availableOffers && availableOffers.length> 0) { %>
                        <% for (offer of availableOffers) { %>
                            <div class="modal-content rounded-50">
                                <div data-offerId="<%= offer._id %>" style="cursor: pointer;"
                                    class="modalBody modal-body text-center">
                                    <div class="icon text-danger">
                                        <i style="font-size: 20px;" class="fas fa-gift"></i>
                                    </div>
                                    <div class="notice">
                                        <h2>
                                            <%= offer.name %>
                                        </h2>
                                        <h4>
                                            <%= offer.percentage %>% Discount
                                        </h4>
                                        <p class="offer-validity">
                                            <span>Valid from</span>
                                            <%= moment(offer.startingDate).format('MMM Do YY') %> <span>to</span>
                                            <%= moment(offer.expiryDate).format('MMM Do YY')  %>
                                        </p>
                                    </div>
                                    <div class="code"></div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>






     <%- include('./layouts/footer.ejs')  %>

         <script>
            document.addEventListener('DOMContentLoaded', function () {
              document.querySelectorAll('.list-category').forEach(function (button) {
                button.addEventListener('click', function () {
                  const id = this.getAttribute('data-user-id');
                  updateUserStatus(id, 'list');
                });
              });
          
              document.querySelectorAll('.unlist-category').forEach(function (button) {
                button.addEventListener('click', function () {
                  const id = this.getAttribute('data-user-id');
                  updateUserStatus(id, 'unlist');
                });
              });
          
 function updateUserStatus(id, action) {
  console.log(`Updating user status for ${id} with action ${action}`);
  fetch(`/admin/category/${action}/${id}`, {
    method: 'post',
  })
    .then((response) => response.json())
    .then((data) => {
      console.log('Response data:', data);

      // Update the UI
      const statusElement = document.getElementById(`status_${id}`);
      if (data.is_Listed==true) {
        // Update text content and apply a class
        statusElement.textContent = 'Listed';
        statusElement.classList.add('alert-warning');
        statusElement.classList.remove('alert-success');
      } else {
        // Update text content and apply a class
        statusElement.textContent = 'Unlisted';
        statusElement.classList.add('alert-success');
        statusElement.classList.remove('alert-warning');
      }

      // Optionally, you can show an alert or a popup here
      // Example: alert('User status updated successfully');
    })
    .catch((error) => {
      console.error('Error:', error);
      // Handle errors if needed
    });
}

}
  );
 </script>


<!-- for deleteling category script -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Handle Delete button click
        $('.delete-category').on('click', function () {
            const categoryId = $(this).data('category-id');

            // Set the categoryId in the modal for reference
            $('#deleteCategoryModal').data('category-id', categoryId);

            // Show the modal
            $('#deleteCategoryModal').modal('show');
        });

    

        // Handle Confirm Delete button click
        $('#confirmDeleteBtn').on('click', function () {
            // Retrieve the categoryId from the modal
            const categoryId = $('#deleteCategoryModal').data('category-id');

            // Make a POST request to delete the category
            fetch(`/admin/category/deleteCategory/${categoryId}`, {
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Perform actions after successful deletion
                        console.log('Category deleted successfully');

                        // Redirect to the categories page
                        window.location.href = '/admin/category';
                    } else {
                        // Handle deletion failure
                        console.error('Deletion failed');
                    }
                })
                .catch(error => {
                    // Handle fetch error
                    console.error('Fetch error:', error);
                });
        });
    });

async function offerListModal(categoryId){
    try {
        
 $('#discountModal').modal('show')

  const divModal= document.querySelectorAll('.modalBody')
     divModal.forEach((element)=>{
      element.onclick=function(){
       const offerId=this.getAttribute('data-offerId')
       applyOffer(offerId,categoryId)
      }
     })

   
    } catch (error) {
        
    }
}


async function applyOffer(offerId,categoryId){
  try {
 const response=await axios.patch('/admin/applyCategoryOffer',{offerId,categoryId})
 if(response.data.success==true){
    
  window.location.href='/admin/category'

 }
  } catch (error) {
    
  }
}

async function removeOffer(categoryId){
   try {
      Swal.fire({
            title: 'Are you sure?',
            text: 'This action cannot be undone!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, proceed!',
            cancelButtonText: 'Cancel',
            reverseButtons: true 
          }).then(async(result)=>{
          if(result.isConfirmed){
            const response=await axios.patch('/admin/removeCategoryOffer',{categoryId})
            if (response.data.success==true){
                window.location.href='/admin/category'
            }
          }
          })
   } catch (error) {
    console.log(error.message);
   }
}

</script>
<!-- DataTables JS jquery pagination search -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    // Check if jQuery is loaded
    if (window.jQuery) {
        console.log('jQuery is loaded!');
    } else {
        console.error('jQuery is not loaded!');
    }
</script>
<!-- Your script -->
<script>
  $(document).ready(function() {    
    $('#example').DataTable({
      "order": [] // Disable sorting for all columns
    });
  });
</script>
        <!-- Main Script -->
        <script src="assetsAdmin/js/main.js?v=1.1" type="text/javascript"></script>

