<%- include('./layouts/header.ejs')  %>
        <style>
                /* Style for the tooltip container */
                .custom-tooltip {
                    --bs-tooltip-bg: var(--bd-violet-bg);
                    --bs-tooltip-color: var(--bs-white);
                }
            </style>
 <%- include('./layouts/headerNav.ejs')  %>
            <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assetsAdmin/imgs/theme/flag-us.webp" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-fr.webp" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-jp.webp" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-cn.webp" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assetsAdmin/imgs/people/avatar-2.webp" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
          <section class="content-main">
                <div class="content-header">
                    <h2 class="">Orders</h2>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example"  class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Orders</th>
                                        <th scope="col">Status</th>
                                       

                                        
                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    

                          <% for(let orders of orderData) { %>

                                        <tr>
                                            <td>
                                               <%= orders.order_id %>
                                            </td>
                                            <td><b>
                                              <%= orders.user_name  %>
                                             </b></td>
                                            <td>
                                               <%= orders.payment  %>
                                            </td>
                                            <td>
                                               <%= orders.total_amount  %>
                                            </td>
                                           
                                         
                                            <td>
                                               <%= orders.date  %>
                                            </td>
                                            <td>
                                               <a href="/admin/orderDetails?id=<%= orders._id %>">Items</a>


                                            </td>
                                            <td>
                                                <!-- <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a> -->
<!-- Replace the select element with a text field -->
<input type="text" class="form-control statusText" id="statusText<%=orders._id%>" value="<%=orders.status%>" readonly>




<!-- to order status visible  -->

                                            </td>
                                            </tr>

                                      
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                   
                    </div>

                </div>
      

                

                        </div>
            </section>

            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="assetsAdmin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assetsAdmin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assetsAdmin/js/vendors/select2.min.js"></script>
        <script src="assetsAdmin/js/vendors/perfect-scrollbar.js"></script>
        <script src="assetsAdmin/js/vendors/jquery.fullscreen.min.js"></script>


<!-- DataTables JS jquery pagination search -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

        <!-- DataTables CSS -->



          <!-- jquery library search -->


        <script>
     const orderStatus=async(status,orderId)=>{
 
      event.preventDefault()
      Swal.fire({
      title:'Change Status',
      text:'Are you sure you want to change status ?',
      icon:'warning',
      showCancelButton:'true',
      confirmButtonText:'Ok',
      cancelButtonText:'Cancel',
      dangerMode:true,

     }).then(async(willChange)=>{
      if(willChange.isConfirmed){
         const updatedStatus= await axios.patch('/admin/updatedStatus',{status,orderId})
         if (updatedStatus.data.success){
           
            location.reload()

         }
         
      }
      location.reload()
    })
         return false
     }




 



 </script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
        destroy: true, // Destroy the existing DataTable, if any
        ordering: false // or any other options you need
    });
});
</script>

        <!-- Main Script -->
        <script src="assetsAdmin/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
