<%- include('./layouts/header.ejs')  %>
<%- include('./layouts/headerNav.ejs')  %>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assetsAdmin/imgs/theme/flag-us.webp" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-fr.webp" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-jp.webp" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assetsAdmin/imgs/theme/flag-cn.webp" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assetsAdmin/imgs/people/avatar-2.webp" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Users</h2>
                        <p>Cornerstone Furniture: Where Comfort Meets Craftsmanship.</p>
                    </div>
                   
                </div>
                <div class="card mb-4">
                 
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                          <div id="reloadDiv">
                            <table class="table table-hover" id="example">
                                <thead>
                                    <tr>
                                       
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Verified</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(users.length>0) { %>
                                      <% for(i=0;i<users.length;i++) { %>
                                    
                                    <tr>
                                        <td><b><%= users[i].userName %></b></td>
                                        <td><%= users[i].email %></td>
                                        <td><%= users[i].mobileNumber %></td>
                                       <td class="text">
                                            <span id="status_<%= users[i]._id %>">
                                              <% if (users[i].is_Blocked==true) { %>
                                                <span class="badge rounded-pill alert-warning">Blocked</span>
                                              <% } else { %>
                                                <span class="badge rounded-pill alert-success">Active</span>
                                              <% } %>
                                               </span>
                                              </td>
                                            
                                        <td><% if(users[i].is_Verified==true){ %>
                                            
                                                Verified
                                            <% }else{ %>
                                               Not Verified
                                                <% } %></td>
                                        <td class="text-end">
                                            <% if(users[i].is_Blocked==false){ %>
                                            <button class="btn btn-md rounded font-sm block-user" onclick="changeUserStatus(event,'<%= users[i]._id %>')" data-user-id="<%= users[i]._id %>" style="background-color:green" >Block</button>
                                          <% }else{ %>
                                        <button class="btn btn-md rounded font-sm block-user" onclick="unblockUser(event,'<%= users[i]._id %>')" data-user-id="<%= users[i]._id %>" style="background-color:red" >Unblock</button>
                                            <% } %>
                                            
                                            <!-- dropdown //end -->
                                        </td>
                                      
                                    </tr>
                                      <% } %>
                                        
                                    <% } %>
                                    
                                    
                                </tbody>
                            </table>
                                </div>
                          
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                

            </section>
        
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assetsAdmin/js/vendors/jquery-3.6.0.min.js"></script>   
        <script src="assetsAdmin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assetsAdmin/js/vendors/select2.min.js"></script>
        <script src="assetsAdmin/js/vendors/perfect-scrollbar.js"></script>
        <script src="assetsAdmin/js/vendors/jquery.fullscreen.min.js"></script>
       

      <!-- DataTables JS jquery pagination search -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


        <script>



async function changeUserStatus(event,userId){
    try {
        event.preventDefault()
        const response=await axios.post('/admin/changeUserStatus',{userId})

        if(response.data.success==true){
   
  $('#reloadDiv').load('/admin/users #reloadDiv', function() {
    initializeDataTable();
        });

        }

      
        
    } catch (error) {
        console.log(error.message);
    }
}
async function unblockUser(event,userId){
    try {
        event.preventDefault()
        const response=await axios.post('/admin/unblockUser',{userId})

        if(response.data.unblocked==true){
     

            $('#reloadDiv').load('/admin/users #reloadDiv', function() {
             initializeDataTable();
        });

        }

      
        
    } catch (error) {
        console.log(error.message);
    }
}


          </script>

     <!-- jquery library search -->
        

          
 <script>
$(document).ready(function() {
    $('#example').DataTable({
        destroy: true, // Destroy the existing DataTable, if any
        ordering: false // or any other options you need
    });
});
</script>
        
        <!-- Main Script -->
        <script src="assetsAdmin/js/main.js?v=1.1" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>
</html>
