<%- include('./layouts/header.ejs') %>
<%- include('./layouts/headerNavbar.ejs') %>

  <br>
   <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <!-- Sidebar -->
        <div class="card mb-4">
          <div class="card-body text-center">
            <a href="/userProfile">
              <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px; border: 4px solid #fff;"
            />
            </a>
            <h5 class="text-center ms-3 float-start">
            <%= user.userName  %>
            </h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="/userProfile" class="btn btn-outline-primary btn-block">Profile</a>
              </li>
         
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <!-- Main content -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Change Password</h5>
            <hr />
      


            <form action="" method="post">
              <div class="mb-3">
                <label for="currentPassword" class="form-label">Current Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  name="currentPassword"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                <input type="hidden" name="userId" value="<%= user._id  %>">
                <input
                  type="password"
                  class="form-control"
                  id="confirmNewPassword"
                  name="confirmNewPassword"
                  required
                />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
              <br>
                <% if (message) { %>
              <div class="error-message text-center text-danger">
              <%= message %>
              </div>
              <% } %>
               
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./layouts/footer.ejs') %>
<%- include('./layouts/footerNavbar.ejs') %>
